language: php
sudo: false

php:
  - 7.0
  - 7.1

os:
- linux

install:
  - travis_retry composer update ${COMPOSER_FLAGS} --prefer-source --no-interaction

matrix:
  include:
      env: COMPOSER_FLAGS="--prefer-stable --prefer-lowest" COVERAGE=true TEST_COMMAND="composer test-ci"

script:
  - $TEST_COMMAND